<div class="row">    
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>List Name</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of service.list">
                    <td><input type="radio" [value]="val.isCompleted" 
                        [(ngModel)]="val.isCompleted" (change)=updateItem(val)/></td>
                    <td (click)="populateForm(val)">{{val.cardNumber}}</td>                    
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"
                        (click)="onDelete(val)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

 
